<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CatLab</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/justLogo.png') }}">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/themify-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/gijgo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/slicknav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <script src="https://cdn.tailwindcss.com"></script>

</head>

<body>

    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-3 col-lg-3">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-9 col-lg-9">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{{ url_for('index') }}">home</a></li>
                                        <li><a href="{{ url_for('feed') }}">Feed</a></li>
                                        <li><a href="{{ url_for('about') }}">about</a></li>
                                        <!-- <li><a href="Feed.html">Feed</a></li> -->
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header_start  -->

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bradcam_text text-center">
                        <h3>About Us</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bradcam_area_end -->

    <!-- adapt_area_end  -->
    <div class="glass-container">
        <div class="glass-content">
            <h1>About This Project</h1>
            <p>Our project, CatLab, focuses on developing an innovative pet feeder that combines mobility with remote control capabilities and automatic feeding via a web interface. This advanced feeder mobility feature operates through an RC car, allowing users to navigate it effortlessly to their pets' location for feeding.
            </p>
            <br>
            <p>CatLab utilizes a programmed stepper motor to precisely control the amount of food dispensed, ensuring accurate portion sizes. Through a user-friendly web interface, pet owners can remotely adjust portions, and monitor the amount of food inside pet feeder.</p>
            <br>
            <p>This technology not only enhances convenience for pet owners but also promotes efficient pet care management, and ensuring pets receive accurate portion of food. CatLab aims to redefine pet feeding by integrating mobility, remote control, and precise portion management into a single innovative solution.</p>
        </div>
    </div>

    <!-- team_area_start  -->
    <div class="team_area">
        <div class="container">
            <div class="row justify-content-center ">
                <div class="col-lg-6 col-md-10">
                    <div class="section_title text-center mb-95">
                        <h3>Our Team</h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p> -->
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='img/team/Hanif.png') }}" alt="">
                        </div>
                        <div class="member_name text-center">
                            <div class="mamber_inner">
                                <h4>Hanif</h4>
                                <p>Informatics'22</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='img/team/Stevy.png') }}" alt="">
                        </div>
                        <div class="member_name text-center">
                            <div class="mamber_inner">
                                <h4>Stevanus</h4>
                                <p>Electical'23</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='img/team/Wasit.png') }}" alt="">
                        </div>
                        <div class="member_name text-center">
                            <div class="mamber_inner">
                                <h4>Wasit</h4>
                                <p>Mechanical'22</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single_team">
                        <div class="thumb">
                            <img src="{{ url_for('static', filename='img/team/Visakha.png') }}" alt="">
                        </div>
                        <div class="member_name text-center">
                            <div class="mamber_inner">
                                <h4>Visakha</h4>
                                <p>Environmental'23</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- team_area_end  -->

    <div class="contact_anipat anipat_bg_1">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="contact_text text-center">
                        <div class="section_title text-center">
                            <h3>CatLab</h3>
                            <p>Because we know that even the best technology is only as good as the people behind it.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- JS here -->
<script type="text/javascript" src="{{ url_for('static', filename='js/vanilla-tilt.js') }}"></script>
<script>
    VanillaTilt.init(document.querySelector(".glass-container"), {
        max: 5,
        speed: 500
    });
</script>
<script src="{{ url_for('static', filename='js/vendor/modernizr-3.5.0.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/vendor/jquery-1.12.4.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/isotope.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/ajax-form.js') }}"></script>
<script src="{{ url_for('static', filename='js/waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/imagesloaded.pkgd.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/scrollIt.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.scrollUp.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/nice-select.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.slicknav.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.magnific-popup.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
<script src="{{ url_for('static', filename='js/gijgo.min.js') }}"></script>

<!--contact js-->
<script src="{{ url_for('static', filename='js/contact.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.ajaxchimp.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.form.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.validate.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/mail-script.js') }}"></script>

<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script>
    $('#datepicker').datepicker({
        iconsLibrary: 'fontawesome',
        disableDaysOfWeek: [0, 0],
        //     icons: {
        //      rightIcon: '<span class="fa fa-caret-down"></span>'
        //  }
    });
    $('#datepicker2').datepicker({
        iconsLibrary: 'fontawesome',
        icons: {
            rightIcon: '<span class="fa fa-caret-down"></span>'
        }

    });
    var timepicker = $('#timepicker').timepicker({
        format: 'HH.MM'
    });
</script>
